h1{
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

hr{
    width: 12%;
    height: 2px;
    background-color: black;
    border-radius: 10%;
 
}

.container{
    display: flex;
    color: white;
    border: 5px solid #C4D7B2;
    background-color: #C4D7B2;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
}
.container2{
    display: flex;
    flex-direction: row;
    color: white;
    border: 5px solid #C4D7B2;
    background-color: #C4D7B2;
    gap: 10px;
    padding-left: 19px;
    padding-right: 2.5%;
}

.container3{
    display: flex;
    flex-direction: row;
    color: white;
    border: 5px solid #C4D7B2;
    background-color: #C4D7B2;
    gap: 10px;
    padding-left: 19px;
    padding-right: 2.5%;
}

.Leon1{
    width: 300px;
    height: 250px;
    border-radius: 5%;
    border: solid black;
    margin-top: 2%;
    margin-left: 2%;
}
.Leon2{
    width: 400px;
    height: 300px;
    border: solid black;
    border-radius: 5%;
    margin-top: 2%;
}
.Leon3{
    width: 300px;
    height: 250px;
    margin-top: 4%;
    margin-left: 1%; 
    border: solid black;
    border-radius: 5%; 
}

.Parrafo1{
    font-size: 1.rem;
    color: black;
    padding: 20px;
    padding-top: 10px;
    font-family: 'Libre Baskerville', serif;
    text-align: justify;
    margin-top: 3%;
}

.Parrafo2{
    font-size: 1.rem;
    color: black;
    padding: 20px;
    padding-top: 40px;
    font-family: 'Libre Baskerville', serif;
    text-align: justify; 
}

footer{
    text-align: center;
    background-color: #EBF3E8;
}